@use '../../modules/mixin' as mixin;

.about {
  &__container {
    @include mixin.container;
    margin-top: 76px;
    padding: 0 4.7%;
    @include mixin.sp{
      padding: 0 4.0%;
    }
  }

  &__list {
    margin-top: 61px;
    @include mixin.sp{
      margin-top: 36px;
    }
  }

  &__item{
    line-height: 1.1;
    &:nth-child(2){
      margin-top: 30px;
    }
  }

  &__profileText {
    margin-top: 26px;
    line-height: 1.75;
  }
}