@use '../modules/mixin' as mixin;

.header{
  &__container{
    display: flex;
    justify-content: space-between;
    height: 270px;
    max-width: 960px;
    padding: 0 5.6%;
    margin: 0 auto;
    align-items: center;
    @include mixin.sp{
      height: 82px;
      justify-content: center;
      flex-direction: column;
    }
  }

  &__logo {
    margin-top: 4px;
  }

  &__navigation {
    @include mixin.sp {
      font-size:12.8px;
      padding-top: 6px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
    @include mixin.sp{
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }
}