@charset "UTF-8";
/* Box sizing rules */
/* Box sizingの定義 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* デフォルトのpaddingを削除 */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
/* デフォルトのmarginを削除 */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
/* bodyのデフォルトを定義 */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
/* class属性を持つul、ol要素のリストスタイルを削除 */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
/* classを持たない要素はデフォルトのスタイルを取得 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img要素の扱いを簡単にする */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
/* article要素内の要素に自然な流れとリズムを定義 */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* inputやbuttonなどのフォントは継承を定義 */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
/* 見たくない人用に、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: Arial;
  font-size: 14.4px;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* パソコンで見た時はonlyPcのみ表示 */
.onlyPc {
  display: block;
}

.onlySp {
  display: none;
}

/* スマホで見た時(1024px以下)はonlySpのみ表示 */
@media screen and (max-width: 600px) {
  .onlyPc {
    display: none;
  }
  .onlySp {
    display: block;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 270px;
  max-width: 960px;
  padding: 0 5.6%;
  margin: 0 auto;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .header__container {
    height: 82px;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }
}
@media screen and (max-width: 600px) {
  .header__logo {
    padding-top: 4px;
  }
}
@media screen and (max-width: 600px) {
  .header__navigation {
    font-size: 12.8px;
  }
}
.header__list {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .header__list {
    gap: 20px;
  }
}
.header__item {
  display: flex;
  align-items: center;
}

.mainvisual__img {
  object-fit: cover;
}

.about__container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 76px;
  padding: 0 4.7%;
}
@media screen and (max-width: 600px) {
  .about__container {
    padding: 0 4%;
  }
}
.about__list {
  margin-top: 61px;
}
@media screen and (max-width: 600px) {
  .about__list {
    margin-top: 36px;
  }
}
.about__item {
  line-height: 1.1;
}
.about__item:nth-child(2) {
  margin-top: 30px;
}
.about__profileText {
  margin-top: 26px;
  line-height: 1.75;
}

.works__container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 76px;
  padding: 0 4.6%;
}
@media screen and (max-width: 600px) {
  .works__container {
    padding: 0 4%;
    margin-top: 59px;
  }
}
.works__list {
  display: grid;
  margin-top: 104px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .works__list {
    grid-template-columns: 1fr;
    margin-top: 35px;
    gap: 23px;
    width: 100%;
  }
}
.works__img {
  width: 100%;
  height: auto;
}

.news__container {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 148px;
  padding: 0 4.8%;
}
@media screen and (max-width: 600px) {
  .news__container {
    margin-top: 90px;
  }
}
.news__itemWrapper {
  display: flex;
  border-top: 1px solid #C8C8C8;
  padding: 14.2px 0px;
  gap: 90px;
  line-height: 1.1;
}
@media screen and (max-width: 600px) {
  .news__itemWrapper {
    flex-direction: column;
    gap: 0;
    padding: 12px 0;
  }
}
.news__itemWrapper:first-child {
  margin-top: 59px;
}
@media screen and (max-width: 600px) {
  .news__itemWrapper:first-child {
    margin-top: 35px;
  }
}
.news__itemWrapper:last-child {
  border-bottom: 1px solid #C8C8C8;
}
.news__term {
  margin-left: 12px;
}
@media screen and (max-width: 600px) {
  .news__term {
    margin-top: 3px;
  }
}
@media screen and (max-width: 600px) {
  .news__description {
    line-height: 1.5;
    margin: -4px 0 0 12px;
  }
}

.headingTitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}