.mainvisual
  picture.mainvisual__img
    source(media=`(min-width:${breakPoints}px)`, srcset="./assets/images/mainvisual-pc.jpg", alt="メイン画像", width=1920, height=420)
    img(src="./assets/images/mainvisual-sp.jpg", alt="メイン画像", width=640, height=420)